<!DOCTYPE html> 
<html lang="en"> 
    <body>
        <main>
            <h1>oh no !!</h1>
            <h2> Are you sure you Logged in?</h2>
            <h2> If so, Please check your password and username for typing error</h2>
            <section>
                <a href="/">back to home</a><br><br><br><br>
            </section>
            
        </main>
        <style>
            body {
            background-image: url(https://developers.google.com/maps/documentation/streetview/images/error-image-generic.png);
            background-repeat: no-repeat; 
            background-size: cover;
            display:flex;
            justify-content: space-around;
          }

          section {
              font-size: xx-large;
          }
        </style>
        
    </body> 
    </html>
