<!DOCTYPE html> 
<html lang="en"> 
    <body>
	    <header>
		<a id = "one" href="/">Home</a>
        <a id ="two" href="/logout">Log Out</a>
		</header>
        <main>
          <h1>awww yes members only...</h1> 
        </main>
        
        <style>
            body {
            background-image: url(https://probonoaustralia.com.au/wp-content/uploads/2017/04/community-group-with-hands-in-the-air-770.jpg);
            background-repeat: no-repeat; 
            background-size: cover;
            display:flex;
            justify-content: center;
          }

          h1 {
              color: rgb(4, 28, 163);
              font-size: 90px;
              font-style: italic;
              
          }
		  
		  #two {
		     padding-left: 18px;
			 }
          #two:hover{
               background-color: rgb(70, 70, 95);
               color: rgb(237, 236, 243);
           }
          #one:hover{
               background-color: rgb(70, 70, 95);
               color: rgb(237, 236, 243);
           }
        </style>
    </body> 
    </html>
